// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder. 
// Just copy a variable from /sass/bootstrap/_variables.scss, paste it here and edit the value.
// As example you find one of the most important Bootstrap variable below: $brand-primary.
// Thats the ugly Bootstrap blue used for all the links, primary buttons etc.
// Just add your color code here, compile the theme.scss file to change this color everywhere

$blue:    rgb(94, 114, 228) !default; // #5E72E4
// $indigo:  #6610f2 !default;
// $purple:  #6f42c1 !default;
// $pink:    #e83e8c !default;
$red:     rgb(245, 54, 92) !default; // #f5365c
// $orange:  #fd7e14 !default;
// $yellow:  #ffc107 !default;
$green:   rgb(67, 170, 139) !default; // #43AA8B
// $teal:    #20c997 !default;
// $cyan:    #17a2b8 !default;

$primary:  $blue;
$secondary: $red;

$bg1: #f0f2fc;
$bg2: #d3d8f7;
$bg3: #b5bef2;
$bg4: #98a5ed;
$bg5: #5668d0;
$bg6: #4d5ebb;

$gray-700: #525f7f;

$font-size-base: 1.375rem;
$headings-color: rgb(68,68,68);
$headings-font-weight: 300 !default;

// $headings-font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$headings-font-stack: "Playfair Display", Georgia, "Times New Roman", serif;
// $body-font-stack: "Hoefler Text", "Baskerville Old Face", Garamond, "Times New Roman", serif;
$body-font-stack: "Source Sans Pro", Helvetica, Verdana, sans-serif;

$enable-responsive-font-sizes: true;